/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Syle CSS by AMRI HAKIM S, Copyright 2020 */
/* Dedicated for Training Public Website */



/* Style for Home Page ====== */

body
	{
		background-image:url(bg5.png);
	}


/* Navigation Bar ================= */

.navbar
	{
		background-color:black;
		opacity:60%;
		overflow:hidden;
		position:fixed;
		z-index:1;
		width:100%;
		text-align:right;		
		font:normal 2vw/2.1vw sans-serif;
		filter:drop-shadow(.3vw .3vw .3vw grey);
	}

.navbar a
	{
		text-decoration:none;
		color:inherit;
		padding:0.2vw;
		transition:0.3s;
	}

.navbar a:hover
	{
		background-color:darkgreen;
		color:yellow;
		font:italic 2.3vw/2.5vw sans-serif;
		padding:0.5vw;
		font-weight: bold;

	}

.navbar ul li
	{
		display:inline-block;
		padding:1.5vw;
		text-shadow: 0.2vw 0.2vw .5vw black;
		color:white;
	}


/* Block Header ========================= */

.header
	{
		width:100%;
		height:40vw;
		background-image:url("MyLobby.jpg");
		background-size:cover;
		background-position: center;
	}

.header .grad
	{
		width:100%;
		height:40vw;
		background-color:black;
		opacity:50%;
		position:absolute;
	}

.HeaderText
	{
		position:relative;
		text-align:right;
		right:5%;
		top:20vw;
    	font:italic 4.2vw/5vw sans-serif;
    	color:white;

	}

.HeaderText span
  {
    font-weight: bold;
    font-style: normal;
    color:gold;
  }

.HeaderText p
  {
    color:gold;
    font-style:normal;
  }


/* Block Content =========================== */

.content
	{
		margin-top:0.3vw;
    	font:normal 2vw/2.1vw sans-serif;
    	color:darkgreen;
    	text-align:center;
	}

.Welcome
	{
		width:100%;
		margin-bottom:7vw;
	}

.Welcome h1
	{
		background-color: black;
		opacity:75%;
		color:white;
		text-shadow: 0.2vw 0.2vw 0.5vw black;
		padding:0.5vw;
		font:bold 2.5vw/2.6vw sans-serif;
		animation:ChangeColor 7s ease infinite;
	}

.Welcome p
	{		
		margin-top:0.5vw;
		font:italic 1.4vw/1.6vw sans-serif;
		font-weight: bolder;
	}

@keyframes ChangeColor
	{
		0%
			{
				background-color: black;
				color:gold;		
			}
		50%
			{
				background-color: darkblue;
				color:pink;		
			}

		100%
			{
				background-color: darkgreen;
				color:white;
			}
	}


.content span
	{
    	font:bold 3vw/3.2vw sans-serif;
		filter:drop-shadow(0.3vw 0.3vw 0.2vw white);
	}




/* ====== Training Provider ======== */

.provider
	{
		width:70%;
		margin:5vw auto 0;
	}


.provider img
	{
		display:inline-block;
		height:17vw; width: 18vw;
		margin:0 5vw 0;
		text-align: center;
		color:white;
		font:bold 2.5vw/2.8vw sans-serif;
		filter:drop-shadow(.5vw .5vw .5vw black);	
	}


/* Catatan Kaki */

.footer
	{
		width:96%;
		padding:2%;
		background-color: black;
		opacity: 80%;
		color:white;
		text-align:center;
		font:normal 1.7vw/1.9vw sans-serif;
	}

.footer span
	{
		color:gold;
		font:bold 2vw/2.1vw arial;
	}

.footer p
	{
		color:gold;
		font-style:italic;
	}


@media screen and (max-width: 1000px) 
  {
    .header , .header .grad
	{
		height:55vw;
	}  

    .HeaderText
	{
    	font:normal 5vw/5.7vw sans-serif;
		right:5%;
		top:28vw;
	}  

  }

@media screen and (max-width: 600px) 
  {
    .header , .header .grad
	{
		height:70vw;
	}  

    .HeaderText
	{
    	font:normal 6.5vw/7.2vw sans-serif;
		right:5%;
		top:35vw;
	}  

    .Welcome p
	{
    	font:bold 1.7vw/2vw sans-serif;
	}  

    .Footer , .Footer span , .Footer p
	{
    	font-size:2.3vw;
    	line-height:2.4vw;
	}  

	.navbar
	{
		font:normal 3.5vw/3.7vw sans-serif;
		position:fixed; 
		z-index:1;
		text-align:center;
		margin:0 auto 0;
		bottom:0;
	}
	.navbar a
	{
		margin: 0 1vw 0;
	}

	.navbar a:hover
	{
		font:italic 4.5vw/5vw sans-serif;
		padding:2vw;

	}


  }


/* Style untuk Page About ASTI ===== */

body .ASTIPage
	{
		background-image: url(full-bloom.png);
		font-family:sans-serif;
		margin:0;
	}

/* Setting Header of About ASTI ===== */

.ASTIPage .header
	{
		background-image:url(BGAbout.png);
		background-size: cover;
		filter: saturate(300%);
	}

.ASTIPage img
	{	
		display:block;
		padding-top:50px;
		width:200px;
		margin:0px auto 20px;
		filter:drop-shadow(5px 5px 5px black);
	}

.ASTIPage .PTName
	{
		font:bold 85px/90px sans-serif,arial;
		color:white;
		text-align: center;
		margin:0px auto 10px;
		text-shadow: 5px 5px 5px black;
		letter-spacing:20px;
	}

.ASTIPage .PTCall
	{
		color:white;
		opacity:80%;
		text-align:center;
		letter-spacing:2px;
		font:bold 35px/40px sans-serif;
		text-shadow: 3px 3px 3px black;
	}

.ASTIPage .slogan
	{
		color:gold;
		font:italic 25px/28px sans-serif;
		text-align:center;
		text-shadow: 3px 3px 3px black;
	}


/* === Setting CONTENTs, About ASTI ====== */

.ASTIPage h1
	{
		color:darkgreen;
		letter-spacing:2px;
		background-color: lightgrey;
		text-shadow: 5px 3px 5px white;
		text-align:center;
		padding:10px;
		font:bold 37px/40px arial;
	}


.ASTIPage h2
	{
		color:darkgreen;
		margin-up:30px;
		margin-left:30px;
		padding:0;
		font:bold 25px/30px arial;
		text-shadow: 2px 2px 2px white;
	}

.ASTIPage p
	{
		color:black;
		text-align:justify;	
		margin:0 30px;
		font:normal 25px/35px sans-serif;
		opacity:80%;
		text-shadow: 2px 2px 2px lightblue;
	}

.ASTIPage .trainer li
	{
		color:black;
		text-align:justify;
		font:normal 25px/35px arial;	
		margin:10px 70px;
		padding:10px;
		word-spacing:1px;
	}

.ruanglingkup li
	{
		color:black;
		text-align:justify;
		font:normal 25px/35px arial;	
		margin:10px 70px;
		padding:10px;
		word-spacing:1px;
	}

/* === Setting Posisi Logo ISO, About ASTI === */

.logoISO
	{
		width:300px;
		height:100px;
		float:right;
	}

.logoISO1
	{
		background-image: url(ISO9001.jpg);
		background-size:cover;
		width:100px;
		height:100px;
		margin-right:70px;
		display:inline-block;
	}

.logoISO2
	{
		background-image: url(ISO14001.jpg);
		background-size:cover;
		width:100px;
		height:100px;
		display:inline-block;
	}

/* === Setting Contact Us, About ASTI === */

.ASTIPage .contact
	{
		margin-top:200px;
		width:100%;
		padding:0px 0 25px;
		background-color: black;
		opacity:70%;
		color:white;
		font:normal 20px/30px arial;
		text-align:center;
	}
