
h1 {
	margin-bottom: 0;
}

p {
	text-align: center;
}

.top2 ul li {
	padding:3px 0px;
}

.anak2 {
	width:90%;
	margin:30px auto;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.biaya {
	border-radius: 20px;
	border:0.3px solid lightgrey;
	box-sizing: border-box;
	padding:15px;
	margin-bottom: 30px;
	width:30%;
	text-align: center;
}

.biaya .garis {
	width:40%;
	margin:10px auto 30px;
	border:0.5px solid lightgrey;
}

.biaya .daftar {
	padding:5px 10px;
	width:150px;
	border-radius:20px;
	background-color: #008080;
	color:white;
	margin:20px auto;
}

.persesi {

}

table, td, th {
  border: 0.5px solid lightgrey;
  padding:10px;
}

table {
	width:80%;
  	border-collapse: collapse;
	text-align: center;
	margin:30px auto;
	box-sizing: border-box;
}

.infolanjut {
	padding:20px 50px;
}

.infolanjut h3 {
	font-size: 18px;
	letter-spacing: 2px;
	margin-bottom: 10px;
}
.infolanjut p {
	text-align: left;
}

.infolanjut ul li {
	margin-left: 20px;
}

.rekening li {
	margin: 5px 0 0 70px;
	padding:5px;
	display:flex;
	align-items: center;
}

.rekening .BCA {
	height: 20px;
	width:60px;
	margin-right: 10px;
}

.rekening .NIAGA {
	height: 40px;
	width: 40px;
	margin-right: 10px;
}

/*======================================*/
/*CSS untuk Responsive Website 
 ukuran Tablet*/

@media screen and (max-width:1000px) {
	.anak2 {
		display:block;
	}
	.biaya {
		width:100%;
	}

	.top2 ul {
		display:inline-block;
	}

}

/* =================================== */
/* CSS untuk Responsive Website 
   ukuran Mobile Phone */

@media screen and (max-width:650px) {
	.infolanjut {
		padding:20px 0;
	}

	.rekening li {
		margin: 5px 0 0 20px;
	}
}

/* ==================================== */
/* end of code */