
/* Reference of Setting */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*==================================*/


/* Syle CSS by AMRI HAKIM S, Copyright 2021 */
/* Dedicated for Training Public Website */

/* Common text at All Body :

h1 until h6 are BOLD text (Default)
===========================
h1 : Judul Cover (32px)
h2 : Judul Content (24px)
h3 : highlight (catch attention) (19px)
h4 : text content (16px) -- standard size <====
h5 : support text content (13px)
h6 : hidden text (10.7px)

p  : normal content (size : 16px)  */
/*=================================*/

h1 {
	text-align: center;
	font-size:35px;
	line-height: 40px;
}

/*Jenis Font yang dipakai*/

@font-face {
  font-family: Raleway;
  src: url(../font/Raleway-Light.ttf);
}

@font-face {
  font-family: RalewayB;
  src: url(../font/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: RalewayT;
  src: url(../font/Raleway-Thin.ttf);
}

@font-face {
  font-family: Vegan;
  src: url(../font/Vegan.ttf);
}

@font-face {
  font-family: BB;
  src: url(../font/Blackberry.ttf);
}


@font-face {
  font-family: Lemon;
  src: url(../font/LemonJelly.ttf);
}


/* Setting komposisi Umum */
/*============================*/

body {
	background-color:#FFFAF0;
	color:#2F4F4F;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	box-sizing: border-box;
	text-align:left;
	line-height:25px;
	letter-spacing:1.5px;
}

/* Setting Header (Logo, NavBar) */
/*============================*/

#linkAtas {
	position:relative;
	top:-95px;
}

.top {
	position:fixed;
	z-index: 10;
	top:0;
	width: 100%;
	height: 90px;
	padding:20px 20px;
	background-color: #FFFAF0;
	border-bottom: 0.7px solid lightgrey;
	box-sizing: border-box;
}

.logonama {
	height:60px;
	float:left;
	display: flex;
	align-items: center;
}

.logo {
	width: 60px;
	height:60px;
	margin-right: 20px;
	background-image: url(../logo/Bimbel.png);
	background-size: cover;
	animation: animelogo 0.7s ease;
}

@keyframes animelogo {
	0% { width:10px; height:10px;}
	100% {width:60px; height:60px;}
}

.nama span {
	font-size:25px;
	color:#FA8072;
	letter-spacing:3px;
	font-family: 'Vegan', serif;
}

.nama p {
	font-size:12px;
	letter-spacing:1.2px;
}

.top ul li {
	display:inline-block;
	padding:3px 12px;
}

.top ul li img {
	width:30px;
	height:30px;
	margin:0px auto;
	display:block;
	filter:grayscale(80%);
}

a {			
    text-decoration: none;
	transition:0.3s;
}

.navmenu {
	float:right;
}

.navmenu li {
	font-size: 11px;
	color:#FA8072;
}

.navmenu li:hover {
	color:green;
	filter:sepia(0%);
	text-shadow: 0 3px 3px white;
	transform: scale(1.2);
	transition:0.3s;
}

/* Setting Dropdown Menu */
.dropmenu {
	filter:grayscale(80%);
	float:right;
	margin-top: 10px;
	display:none;	
}

.dropmenu img {
	width:30px;
	height:30px;
}

.dropmenu:hover {
	color:green;
	text-shadow: 0 3px 3px white;
	transform: scale(1.3);
	transition:0.3s;
}

/* Tombol Close untuk Page Lain */

.exitmenu {
	filter:grayscale(80%);
	float:right;	
}

.exitmenu ul li {
	padding:3px 12px;
	font-size: 11px;
}

.exitmenu img {
	width:30px;
	height:30px;
}

.exitmenu:hover {
	transform: scale(1.2);
	transition:0.3s;
}

/* Menu tersembunyi Side Bar */
.sidebar {
	margin-top: 30px;
	position:fixed;
	z-index: 10;
	right:-300px;
	top:0;
	display:none;	
}

.sidebar li {
	background-color: #008080;
	color:white;
	display:block;
	padding:15px 70px 15px 20px;
	box-sizing: border-box;
}

.sidebar li:hover {
	background-color: #FA8072;
	transform: scale(1.1);
	transition:0.3s;
}

.sidebar img {
	width:20px;
	height:20px;
	margin:0 20px 0 10px;
	filter:brightness(500%);
}

.sidebar a {			
    color:white;
}


/* Setting Banner Iklan Utama */
/* ========================== */

.isiutama {
	width:95%;
	margin:0 auto;
	text-align: center;
	box-sizing:border-box;
}

.foster1 {
	width:400px;
	height:300px;
	background-image: url(../picture/foster.png);
	background-size:cover;
	margin:70px auto 5px;
	border-radius:30% 0;
	position:relative;
}

.foster1 div {
	padding:5px 10px;
	border-radius:10px 0;
	position:absolute;
	bottom: -15px;
	left:120px;
	background-color: #008080;
	color:white;
}

.foster1 a {
	color:white;
}

.foster1 div:hover {
	color:#008080;
	transform: scale(1.2);
	transition:0.3s;
}

.isiutama h3 {
	font-size: 22px;
	margin:20px 15%;
	color:#008080;
	line-height:30px;
}

.isiutama span {
	color:#FA8072;
}

.isiutama p {
	font-size: 17px;
	margin:0 18px;
	padding:0 10px;
	box-sizing: border-box;
	text-align:justify;
	line-height:27px;
}

.isiutama p span {
	font-family: 'Vegan', serif;
}

.isiutama .p-left {
	text-align:left;
}

/* Setting Keunggulan Privat ini */
/* ============================ */

.keunggulan {
	background-color: #FA8072;
	padding:30px 30px;
	border-radius:30px 0;
	color:#fff;
	margin:30px auto;
	box-sizing: border-box;
	width:95%;
}

.intro h2, .intro p {
	text-align: center;
}

.keunggulan h2 {
	font-size: 35px;
}

.listUnggul {
	display:flex;
	justify-content:space-between;
	box-sizing: border-box;
}

.listUnggul h3 {
	font-size:20px;
	font-weight: bold;
	display: flex;
}

.listUnggul h3 img {
	width:30px;
	height:30px;
	margin-right: 10px;
	filter: brightness(500%);
}

.listUnggul p {
	font-size: 12px;
	}

.unggul1 {
	width:32%;
}

.unggul2 {
	width:63%;
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}

.unggul {
	width:47%;
	box-sizing: border-box;
}


/*Style untuk Program Belajar*/
/* ============================ */

.ProgramBelajar {
	margin:70px 20px 20px;
}

.acuanlinkP {
	position:relative;
	top:-95px;
}

.ListProgram {
	display:flex;
	width:95%;
	margin:0 auto;
	flex-wrap: wrap;
	justify-content:space-between;
}

.ListProgram div {
	width: 48%;
	padding:0 10px;
	margin:0 0 40px;
	box-sizing: border-box;
}

.ListProgram h2 {
	margin:30px 0;
	font-size:20px;
	display: flex;
}

.ListProgram h2 .logopro {
	display: inline-block;
	margin-right: 15px;
	width:30px;
	height:30px;
	background-image: url(../logo/Reader.png);
}

.ListProgram .fotopro {
	width:200px;
	height:200px;
	float:left;
	margin:0 20px 10px 0;
	border-radius: 35% 0 35% 35%;
}

/* Style untuk Kurikulum */
/* ============================ */
.Kurikulum {
	background-color: #FA8072;
	padding:30px 30px;
	border-radius:30px 0;
	color:#fff;
	margin:30px auto;
	box-sizing: border-box;
	width:95%;
}

.Kurikulum h2 {
	font-size: 35px;
	text-align: center;
	line-height: 40px;
	margin-bottom: 50px;
}

.Kurikulum p {
	font-size: 20px;
	font-weight:bold;
	text-align: left;
	margin-bottom: 20px;
}

.Kurikulum ul li {
	font-size: 17px;
	text-align: left;
	margin-left: 15px;
}

.listKurikulum {
	display:flex;
	justify-content:space-around;
	box-sizing: border-box;
}

.listKurikulum div {
	box-sizing: border-box;
	width:30%;
}

.listKurikulum img {
	width:50px;
	height:50px;
	margin: 20px 15px 0 0;
}

.listKurikulum .CurrRect {
	width:100px;
}

/* Style untuk Pelanggan Kami */
/* ========================== */

.Pelanggan {
	margin:70px 20px 20px;
}

.ListPelanggan {
	display:flex;
	flex-wrap: wrap;
	justify-content:space-evenly;
}

.Pelanggan p {
	margin:20px 0;
	font-size:17px;
}

.ListPelanggan div {
	width:30%;
	text-align: center;
	margin-bottom: 50px;
}

.Pelanggan img {
	width:150px;
	height:150px;
	padding:10px auto;
}

.Pelanggan .sph {
	width:300px;
}

/* Komunikasi Online lewat WA */
.WAOnline {
	position:fixed;
	z-index:900;
	bottom:10px;
	left:20px;
	border-radius: 30px;
	background-color: #008080;
	padding:10px 20px;
	box-sizing: border-box;
	box-shadow: -3px 3px 3px yellow;
	box-shadow: 3px -3px 3px white;
/*	display:none;*/
}

.WAOnline a {
	color:white;
	display:flex;
	flex-wrap: wrap;
}

.WAOnline a:hover {
	color:yellow;
}

.WAOnline img
	{
		height:25px;
		width:25px;
		margin-left: 20px;
	}

/* =========================== */
/* Style untuk Footer (Ajakan) */

.Ajakan {
	margin:30px 15px 50px;
	background-color: #008080;
	color:white;
	text-align: center;
	border-radius: 0 0 30px 30px;
	padding:0 30px 30px;
}

.Ajakan h1 {
	margin-bottom: 0px;
	padding:30px 0 5px 0;
}

.Ajakan .klik {
	margin:30px auto 50px;
	width:180px;
	height:40px;
	line-height: 40px;
	font-size:15px;
	background-color:white;
	color:#008080;
	border-radius: 30px;
}


.Ajakan .klik:hover {
	color:yellow;
	transform: scale(1.2);
	transition:0.3s;
}

.Address {
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}

.office {
	text-align: left;
	width:60%;
}

.office h1 {
	text-align: left;
}

.office span {
	font-size:18px;
	color:#FA8072;
	position:relative;
	top:20px;
	letter-spacing:2px;
	font-family: 'Vegan', serif;
	filter:brightness(120%);
}

.office p {
	display: flex;
	padding:3px 0;
}

.office p img {
	width:20px;
	height:20px;
	margin-right: 15px;
	filter: sepia(100%);
}

.sosmed {
	width: 34%;
	text-align: right;
	padding-top: 20px;
	font-size: 25px;
	color:lightblue;
	font-family: 'Lemon', serif;
}

.Ajakan .link {
	width:40px;
	height:40px;
	margin-right: 10px;
}

/*======================================*/
/*CSS untuk Responsive Website 
 ukuran Tablet*/

@media screen and (max-width:1000px) {
	.top ul {
		display:none;
	}

	.dropmenu, .sidebar {
		display:block;
	}	

	.isiutama h3 {
		font-size: 20px;
	}
	.isiutama {
		width:100%;
	}
	.foster1 {
		width:300px;
		height:250px;
	}

	.keunggulan h2 {
		font-size: 27px;
		line-height:35px;
	}

	.listUnggul {
		display:block;
		box-sizing: border-box;
		text-align: justify;
	}

	.unggul1, .unggul2 {
		width:100%;
	}

	.ListProgram .fotopro {
		float:none;
	}

	.ListPelanggan div {
		width:47%;
	}

}

/* =================================== */
/* CSS untuk Responsive Website 
   ukuran Mobile Phone */

@media screen and (max-width:650px) {
	.nama span {
		font-size:17px;
		letter-spacing:1.5px;
	}

	.nama p {
		font-size:9px;
		letter-spacing:0.5px;
	}

	.unggul2 {
		display:block;
	}

	.unggul {
		width:100%;
		margin: 20px 0;
	}

	.ListProgram {
		display:block;
	}

	.ListProgram div {
		width: 100%;
		margin:0 auto 40px;
	}

	.ListProgram .fotopro {
		display:block;
		margin:10px auto;
	}

	.ListPelanggan {
		display:block;
	}

	.ListPelanggan div {
		width:100%;
	}

	.Kurikulum {
		padding:30px 10px;
	}

	.listKurikulum {
		display:block;
		box-sizing: border-box;
	}

	.listKurikulum div {
		box-sizing: border-box;
		width:100%;
		margin:20px 0;
		padding-left: 30px;
	}

	.Address {
		display:block;
	}

	.office, .sosmed {
		width:100%;
	}
}

/* ==================================== */
/* end of code */
